.modal {
    padding: 10px 0;
    background-color: var(--modalContentBackground);
    border-radius: 4px;
    width: 95%;
    height: 95%;
    z-index: 10;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal__input-search {
    height: 40px;
    border: 1px solid var(--searchBoxBorder);
    border-radius: 4px;
    width: 98%;
    background-color: var(--color-white);
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 2px;
}
.modal__results {
    padding: 0 10px;
    overflow: scroll;
    height: inherit;
}
.modal__results::-webkit-scrollbar {
    display: none;
}
.modal__input {
    height: inherit;
    flex: 1;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}
.modal__search-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }